html, body { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
} 

.menu {
	margin : 0 auto;
	float: center;
	cursor: pointer;
}

.menu button {
	width: 100%;
}

.menu img {
	width: 150px;
	height: 150px;
}